---
interface Props {
	menu: string;
}

const { menu } = Astro.props;
---

<header class="h-32 bg-orange-400 w-full flex justify-center" >
    <div class="flex justify-between items-center px-8 pt-6 w-full max-w-[994px] relative">
        <div>
            <h1 class="font-chubbo font-bold text-4xl title tracking-tighter"><a href="/">Gio's cookbook</a></h1>
        </div>
        <div class="block sm:hidden">
            <button type="button" onclick="openMenu(this)">
                <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="size-8"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
            </button>
        </div>
        <div class="hidden sm:block">
            <nav>
                <ul class="flex gap-8">
                    <li class={menu == 'Blog' ? 'active' : ''}}>
                        <a href="/">Blog</a>
                    </li>
                    <!-- <li class={menu == 'Categorías' ? 'active' : ''}>
                        <a href="#">Categorías<img class="size-3 inline ml-1 -mt-[2px] rotate-90" src="/icons/arrow.svg" /></a>
                        <ul class="dropdown">
                            <li>Categoria 1</li>
                            <li>Categoria 2</li>
                            <li>Categoria 3</li>
                        </ul>
                    </li> -->
                    <li class={menu == 'About' ? 'active' : ''}>
                        <a href="/about">Sobre mí</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="hamburger-menu" class="fixed bg-orange-400 inset-0 w-0 h-dvh flex justify-center items-center text-3xl overflow-hidden z-50">
            <nav>
                <ul class="flex flex-col gap-8">
                    <li>
                        <a href="/">Blog</a>
                    </li>
                    <li>
                        <a href="/about">Sobre mí</a>
                    </li>
                </ul>
            </nav>
            <div class="absolute top-14 right-8">
                <button type="button" onclick="closeMenu(this)">
                    <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" class="size-8"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                </button>
            </div>
        </div>
    </div>
</header>
<script is:inline>
    let menu = document.getElementById('hamburger-menu')
    function openMenu(){
        menu?.classList.remove("w-0")
        menu?.classList.add("w-full")
    }
    function closeMenu(){
        menu?.classList.remove("w-full")
        menu?.classList.add("w-0")
    }
</script>

<style>
    h1{
        text-shadow: rgb(249 115 22) 0 4px 2px;
    }

    ul:not(.dropdown)>li:active:not(:has(>ul.dropdown)){
        @apply translate-x-1 translate-y-1 shadow-none
    }

    li.active a{
        @apply bg-orange-200;
    }

    nav a{
        @apply border-2 border-black rounded px-6 py-1 shadow-bold-sm;

        &:hover{
            @apply bg-orange-200
        }
        &:active:not(:has(+ ul.dropdown)){
            @apply shadow-none
        }
    }

    ul li ul.dropdown li{
        @apply block py-1 hover:bg-orange-200 bg-orange-400 border-r-2 border-t-2 border-l-2 border-black shadow-bold
    }
    ul li ul.dropdown li:first-child{
        @apply rounded-t
    }
    ul li ul.dropdown li:last-child{
        @apply rounded-b border-b-2
    }
    ul li ul.dropdown{
        @apply  text-center w-36  pt-3 absolute z-50 hidden
    }
    ul li:hover ul.dropdown{
        @apply block
    }
</style>