---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="flex flex-col items-center bg-orange-50">
		<slot />
    <footer class="h-52 bg-stone-950 w-full mt-10 flex flex-col items-center text-orange-100">
      <div class="px-8 pt-8 w-full max-w-[1200px] flex justify-between">
        <div class="font-chubbo flex flex-col text-orange-400">
          <span class="text-5xl">Gio's</span>
          <span class="text-2xl">cookbook</span>
        </div>
        <div class="min-w-24">
          <h4>Socials</h4>
          <ul>
            <li>
              <a>Github</a>
            </li>
            <li>
              <a>LinkedIn</a>
            </li>
            <li>
              <a>Mail</a>
            </li>
          </ul>
        </div>
        <div class="min-w-24">
          <h4>Other Projects</h4>
          <ul>
            <li>
              <a target="_blank" rel="noopener noreferrer" href="https://generadordatos.dev/">Generador datos</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
	</body>
</html>

<style is:global>
@font-face {
  font-family: 'Chubbo-Extralight';
  src: url('/fonts/chubbo/Chubbo-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Chubbo-ExtralightItalic';
  src: url('/fonts/chubbo/Chubbo-ExtralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Chubbo-Light';
  src: url('/fonts/chubbo/Chubbo-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Chubbo-LightItalic';
  src: url('/fonts/chubbo/Chubbo-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Chubbo-Regular';
  src: url('/fonts/chubbo/Chubbo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Chubbo-Italic';
  src: url('/fonts/chubbo/Chubbo-Italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Chubbo-Medium';
  src: url('/fonts/chubbo/Chubbo-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Chubbo-MediumItalic';
  src: url('/fonts/chubbo/Chubbo-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Chubbo-Bold';
  src: url('/fonts/chubbo/Chubbo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Chubbo-BoldItalic';
  src: url('/fonts/chubbo/Chubbo-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme-Thin';
  src: url('/fonts/supreme/Supreme-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme-ThinItalic';
  src: url('/fonts/supreme/Supreme-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme-Extralight';
  src: url('/fonts/supreme/Supreme-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme-ExtralightItalic';
  src: url('/fonts/supreme/Supreme-ExtralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme-Light';
  src: url('/fonts/supreme/Supreme-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme-LightItalic';
  src: url('/fonts/supreme/Supreme-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme-Regular';
  src: url('/fonts/supreme/Supreme-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme-Italic';
  src: url('/fonts/supreme/Supreme-Italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme-Medium';
  src: url('/fonts/supreme/Supreme-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme-MediumItalic';
  src: url('/fonts/supreme/Supreme-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme-Bold';
  src: url('/fonts/supreme/Supreme-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme-BoldItalic';
  src: url('/fonts/supreme/Supreme-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Supreme-Extrabold';
  src: url('/fonts/supreme/Supreme-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme-ExtraboldItalic';
  src: url('/fonts/supreme/Supreme-ExtraboldItalic.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
body{
  @apply font-supreme
}
h1,h2,h3,h4,h5,h6{
  @apply font-chubbo
}
footer h4{
  @apply mb-4 text-xl text-orange-400 border-b-2 border-orange-400
}
footer li{
  @apply mb-1
}
</style>

